body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.processing-modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  z-index: 100;
  background-color: white;
}
.main-page {
  width: 100vw;
  max-width: 1280px;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 3px solid white;
  border-radius: 20px;

  display: flex;
  flex-direction: row;
  text-align: center;
}
.default-btn {
  width: auto;
  height: 2.6rem;

  padding: 0 1rem;
  margin: 0 1rem;

  border-radius: 30px;
  background-color: #f1f1f1;
  border: none;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
.default-btn:hover {
  background-color: #000000;
  color: #fff;
}
.primary-btn {
  width: auto;
  height: 2.6rem;

  padding: 0 1rem;
  margin: 0 1rem;

  border-radius: 30px;
  background-color: #7ecbbd;
  border: none;
  color: #000;
  font-size: 1rem;
  cursor: pointer;

  transition: background-color 0.2s;
}
.primary-btn:hover {
  background-color: #48857a;
  color: #fff;
}
