body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.processing-modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  z-index: 100;
  background-color: white;
}
.processing-text {
}
.processing-loader {
}
.background {
  width: 100vw;
  height: 100vh;
  background-color: unset;
  transition: all 0.5s;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.correction-modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, 150%);
  border: 1px solid black;
  border-radius: 2rem;

  -khtml-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}

.main-page {
  width: 100vw;
  max-width: 1280px;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;
  text-align: center;
}

.demo-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.demo-section-video-wrapper {
  position: relative;
  width: 60%;
  height: 40%;
  margin-bottom: 3%;
}
.demo-video {
  height: 100%;
  width: 80%;
  border-radius: 2rem;
  background-color: black;
  border: 0.2rem solid black;
}
.demo-section-sign-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.demo-section-sign-wrapper-language-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.demo-section-sign-wrapper-sign-table-wrapper {
  width: 80%;
  margin-left: 1rem;
  height: 50vh;
  overflow-y: scroll;
}
.language-btn {
  background-color: whitesmoke;
}
.language-btn.active {
  background-color: red;
}
.correction-language-btn {
  background-color: whitesmoke;
}
.correction-language-btn.active {
  background-color: red;
}
.jsl-sign-button {
  width: 100%;
  border: none;
  font-size: 1rem;

  cursor: pointer;
  transition: all 0.2s;
}
.jsl-sign-button:hover {
  background-color: #000;
  color: #fff;
}
.jsl-sign-button:active {
  background-color: #000;
  color: #fff;
}
.jsl-sign-button:focus {
  outline: 0;
}
.hksl-sign-button {
  width: 100%;
  border: none;
  font-size: 1rem;

  cursor: pointer;
  transition: all 0.2s;
}
.hksl-sign-button:hover {
  background-color: #000;
  color: #fff;
}
.hksl-sign-button:active {
  background-color: #000;
  color: #fff;
}
.hksl-sign-button:focus {
  outline: 0;
}

.record-section {
  width: 60%;
  position: relative;
}
.record-idle {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  /* dev
  display: none; */
}
.record-camera-wrapper {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.video-wrapper {
  position: absolute;
  width: 100%;
  max-width: 720px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.human-guide {
  position: absolute;
  width: auto;
  height: 100%;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
}
#countdown-text {
  position: absolute;
  font-size: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
}
.video-camera {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 2rem;
  border: 0.4rem solid black;
}
.canvas-capture {
  display: none;
}
.record-btn-wrapper {
  position: absolute;
  width: 100%;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  justify-content: center;
}
.record-btn-border {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  border: 0.3rem solid red;

  position: relative;
}
.record-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background-color: red;
  cursor: pointer;
  color: #fff;

  transition: all 0.2s;
}
.record-btn:hover {
  background-color: #fff;
  color: #000;
}
.record-btn:active {
  background-color: #fff;
  color: #fff;
}
.record-btn:focus {
  outline: 0;
}

.record-result {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* dev */
  /* display: none; */
}
.frame-analyst-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.frame-analyst-table {
  margin-bottom: 2rem;
  width: 60%;
}

.result-prediction-table {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jsl-sign-button.active {
  background-color: green;
}
.hksl-sign-button.active {
  background-color: green;
}
.jsl-correction-sign-button.active {
  background-color: green;
}
.hksl-correction-sign-button.active {
  background-color: green;
}

.rolling-btn-wrapper {
  width: 100%;
  height: 15vh;
  position: relative;
  overflow: hidden;
}
.not-improve-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: transform 0.5s;
}
.improve-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: transform 0.5s;
}
