body {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  position: relative;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.processing-modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: beige;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  display: flex;
  z-index: 100;
}
.processing-text {
}
.processing-loader {
}

.correction-modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  z-index: 100;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 2rem;
  transition: all 0.5s;
}

.main-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;
  text-align: center;
}

.demo-section {
  background-color: brown;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.demo-seciton-video-wrapper {
  background-color: red;
  width: 100%;
}
.demo-video {
  width: 20vw;
  height: 20vw;
}
.demo-section-sign-wrapper {
  background-color: royalblue;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.demo-section-sign-wrapper-language-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.demo-section-sign-wrapper-sign-table-wrapper {
  width: 80%;
  margin-left: 1rem;
  background-color: salmon;
  height: 50vh;
  overflow-y: scroll;
}
.language-btn {
  background-color: whitesmoke;
}
.language-btn.active {
  background-color: red;
}
.correction-language-btn {
  background-color: whitesmoke;
}
.correction-language-btn.active {
  background-color: red;
}
.jsl-sign-button {
  width: 100%;
  border: none;
  font-size: 1rem;

  cursor: pointer;
  transition: all 0.2s;
}
.jsl-sign-button:hover {
  background-color: #000;
  color: #fff;
}
.jsl-sign-button:active {
  background-color: #000;
  color: #fff;
}
.jsl-sign-button:focus {
  outline: 0;
}
.hksl-sign-button {
  width: 100%;
  border: none;
  font-size: 1rem;

  cursor: pointer;
  transition: all 0.2s;
}
.hksl-sign-button:hover {
  background-color: #000;
  color: #fff;
}
.hksl-sign-button:active {
  background-color: #000;
  color: #fff;
}
.hksl-sign-button:focus {
  outline: 0;
}

.record-section {
  background-color: yellow;
  width: 60%;
  position: relative;
}
.record-idle {
  width: 90%;
  height: 90%;
  background-color: slateblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  /* dev
  display: none; */
}
.record-camera-wrapper {
  position: absolute;
  width: 90%;
  height: 50%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: beige;
}
.video-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.human-guide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.video-camera {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}
.canvas-capture {
  display: none;
}
.record-btn-wrapper {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}

.record-result {
  width: 90%;
  height: 90%;
  background-color: salmon;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* dev */
  /* display: none; */
}
.frame-analyst-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.frame-analyst-table {
  margin-bottom: 2rem;
  width: 60%;
}

.result-prediction-table {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jsl-sign-button.active {
  background-color: green;
}
.hksl-sign-button.active {
  background-color: green;
}
.jsl-correction-sign-button.active {
  background-color: green;
}
.hksl-correction-sign-button.active {
  background-color: green;
}
