.record-result {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* dev */
  /* display: none; */
}
.frame-analyst-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.frame-analyst-table {
  margin-bottom: 2rem;
  width: 60%;
}

.result-prediction-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rolling-btn-wrapper {
  width: 100%;
  height: 15vh;
  position: relative;
  overflow: hidden;
}
.not-improve-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: transform 0.5s;
}
.improve-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: transform 0.5s;
}
.toggle-improve-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
}
#toggle-improve-check-id {
  cursor: pointer;
}
#toggle-improve-text {
  cursor: pointer;
}
