.record-result {
  width: 50%;
  height: 100%;
  display: flex;
  /* dev */
  /* display: none; */
}
.frame-analyst-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 50%;
  background: #efefef;
  border-radius: 20px;
}
.frame-analyst-table {
  margin-bottom: 2rem;
  width: 60%;
}

.frame-canvas-wrapper {
  border-radius: 2rem;
  overflow: hidden;
}

.result-prediction-wrapper {
  width: 50%;
  box-sizing: border-box;
  padding: 40px;
}
.result-prediction-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.result-prediction-table th,
.result-prediction-table td {
  padding: 15px;
}

.rolling-btn-wrapper {
  width: 100%;
  height: 15vh;
  position: relative;
  overflow: hidden;
}
.try-new-sign-btn {
  background: #1a73e8;
  color: white;
  padding: 30px 55px;
  font-size: 21px;
  border: none;
  outline: none;
  border-radius: 70px;
  text-transform: capitalize;
  cursor: pointer;
}
.not-improve-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: transform 0.5s;
}
.improve-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: transform 0.5s;
}
.toggle-improve-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
}
#toggle-improve-check-id {
  cursor: pointer;
}
#toggle-improve-text {
  cursor: pointer;
}
